@model Pagila.ViewModel.LanguageViewModel

@{
}

<h2>Kayýt Detay</h2>

<div>
    <h4>Kayýt detaylarý</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @(Model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdate)
        </dt>
        <dd>
            @(Model.LastUpdate)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { languageId = Model.LanguageId }) |
    @Html.ActionLink("Sil", "Delete", new { languageId = Model.LanguageId }) |
    @Html.ActionLink("Listeye Dön", "Index")
</p>