@model Pagila.ViewModel.StaffViewModel

@{
}

<h2>Kayýt Detay</h2>

<div>
    <h4>Kayýt detaylarý</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @(Model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @(Model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressId)
        </dt>
        <dd>
            @(Model.AddressId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @(Model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StoreId)
        </dt>
        <dd>
            @(Model.StoreId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd>
            @(Model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd>
            @(Model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd>
            @(Model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdate)
        </dt>
        <dd>
            @(Model.LastUpdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Picture)
        </dt>
        <dd>
            @(Model.Picture)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { staffId = Model.StaffId }) |
    @Html.ActionLink("Sil", "Delete", new { staffId = Model.StaffId }) |
    @Html.ActionLink("Listeye Dön", "Index")
</p>