@model Pagila.ViewModel.CountryViewModel

@{
}

<h2>Kayýt Silme</h2>
<h3>Kaydý silmek istiyor musunuz?</h3>
<div>
    <h4>Kayýt detaylarý</h4>
    @Html.HiddenFor(model => model.CountryId)
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastUpdate)
        </dd>
    </dl>

    @using (Html.BeginForm("DeletePost", "Country", new { countryId = Model.CountryId }))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("Listeye Dön", "Index")
        </div>
    }
</div>