@model System.Collections.Generic.IEnumerable<Pagila.ViewModel.ActorViewModel>

@{
}

<h2>Liste</h2>

<p>
    @Html.ActionLink("Ekle", "Create")
</p>
<table class="table">
   <tr>
       <th>
           @Html.DisplayNameFor(model => model.FirstName)
       </th>
       <th>
           @Html.DisplayNameFor(model => model.LastName)
       </th>
       <th>
           @Html.DisplayNameFor(model => model.LastUpdate)
       </th>
       <th>
           @Html.Label("", "Ýþlemler")
       </th>
   </tr>
   @foreach (var item in Model)
   {
       <tr>
           <td>
               @(item.FirstName)
           </td>
           <td>
               @(item.LastName)
           </td>
           <td>
               @(item.LastUpdate)
           </td>
           <td>
               @Html.ActionLink("Detay", "Detail", new { actorId = item.ActorId }) |
               @Html.ActionLink("Düzenle", "Edit", new { actorId = item.ActorId }) |
               @Html.ActionLink("Sil", "Delete", new { actorId = item.ActorId })
           </td>
       </tr>
   }
</table>
<div>
       <ul>
           <li>@Html.ActionLink("Anasayfaya dön", "Index", "Home")</li>
       </ul>
</div>