@model Pagila.ViewModel.CityViewModel

@{
    ViewBag.Title = "Kaydet";
    var countryListUrl = Url.Action("ReadAll", "Country");
}

<h2>Kaydet</h2>
@using (Html.BeginForm("CreatePost", "City"))
{
    @Html.AntiForgeryToken()
    <input type="hidden" id="countryListUrl" value="@countryListUrl" disabled />
    <div class="form-horizontal">
        <h4>Kayýt</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.CityId)
        @Html.HiddenFor(model => model.CountryId)

        <div class="form-group">
            @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", @required = "required", title = "Lütfen þehir adý giriniz." } })
                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CountryId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="CountrySelect" class="form-control select select2 tooltips simple-ajax-call"
                        action_url="@countryListUrl" text_item="Country" value_item="CountryId" default_value_function="countryIdDefVal" default_text="Seçiniz" default_text_value=""
                        value_dictionary_function="" error_function="" pre_action="" post_action="" title="* Ülke alaný boþ geçilemez!" onchange="countryChanged()" required></select>
                @Html.ValidationMessageFor(model => model.CountryId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-3 col-sm-9">
                <input type="submit" value="Kaydet" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Listeye Dön", "Index")
</div>