@model Pagila.ViewModel.AddressViewModel

@{
}

<h2>Kayýt Detay</h2>

<div>
    <h4>Kayýt detaylarý</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @(Model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address2)
        </dt>
        <dd>
            @(Model.Address2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.District)
        </dt>
        <dd>
            @(Model.District)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CityId)
        </dt>
        <dd>
            @(Model.CityId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>
        <dd>
            @(Model.PostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @(Model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdate)
        </dt>
        <dd>
            @(Model.LastUpdate)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { addressId = Model.AddressId }) |
    @Html.ActionLink("Sil", "Delete", new { addressId = Model.AddressId }) |
    @Html.ActionLink("Listeye Dön", "Index")
</p>