@model Pagila.ViewModel.FilmViewModel

@{
}

<h2>Kayýt Silme</h2>
<h3>Kaydý silmek istiyor musunuz?</h3>
<div>
    <h4>Kayýt detaylarý</h4>
    @Html.HiddenFor(model => model.FilmId)
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseYear)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReleaseYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LanguageId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LanguageId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OriginalLanguageId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OriginalLanguageId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RentalDuration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RentalDuration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RentalRate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RentalRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Length)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Length)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReplacementCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReplacementCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastUpdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpecialFeatures)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SpecialFeatures)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fulltext)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fulltext)
        </dd>
    </dl>

    @using (Html.BeginForm("DeletePost", "Film", new { filmId = Model.FilmId }))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("Listeye Dön", "Index")
        </div>
    }
</div>