@model System.Collections.Generic.IEnumerable<Pagila.ViewModel.FilmViewModel>

@{
}

<h2>Liste</h2>

<p>
    @Html.ActionLink("Ekle", "Create")
</p>
<table class="table">
   <tr>
       <th>
           @Html.DisplayNameFor(model => model.Title)
       </th>
       <th>
           @Html.DisplayNameFor(model => model.Description)
       </th>
       <th>
           @Html.DisplayNameFor(model => model.ReleaseYear)
       </th>
       <th>
           @Html.DisplayNameFor(model => model.LanguageId)
       </th>
       <th>
           @Html.DisplayNameFor(model => model.OriginalLanguageId)
       </th>
       <th>
           @Html.DisplayNameFor(model => model.RentalDuration)
       </th>
       <th>
           @Html.DisplayNameFor(model => model.RentalRate)
       </th>
       <th>
           @Html.DisplayNameFor(model => model.Length)
       </th>
       <th>
           @Html.DisplayNameFor(model => model.ReplacementCost)
       </th>
       <th>
           @Html.DisplayNameFor(model => model.Rating)
       </th>
       <th>
           @Html.DisplayNameFor(model => model.LastUpdate)
       </th>
       <th>
           @Html.DisplayNameFor(model => model.SpecialFeatures)
       </th>
       <th>
           @Html.DisplayNameFor(model => model.Fulltext)
       </th>
       <th>
           @Html.Label("", "Ýþlemler")
       </th>
   </tr>
   @foreach (var item in Model)
   {
       <tr>
           <td>
               @(item.Title)
           </td>
           <td>
               @(item.Description)
           </td>
           <td>
               @(item.ReleaseYear)
           </td>
           <td>
               @(item.LanguageName)
           </td>
           <td>
               @(item.OriginalLanguageName)
           </td>
           <td>
               @(item.RentalDuration)
           </td>
           <td>
               @(item.RentalRate)
           </td>
           <td>
               @(item.Length)
           </td>
           <td>
               @(item.ReplacementCost)
           </td>
           <td>
               @(item.Rating)
           </td>
           <td>
               @(item.LastUpdate)
           </td>
           <td>
               @(item.SpecialFeatures)
           </td>
           <td>
               @(item.Fulltext)
           </td>
           <td>
               @Html.ActionLink("Detay", "Detail", new { filmId = item.FilmId }) |
               @Html.ActionLink("Düzenle", "Edit", new { filmId = item.FilmId }) |
               @Html.ActionLink("Sil", "Delete", new { filmId = item.FilmId })
           </td>
       </tr>
   }
</table>
<div>
       <ul>
           <li>@Html.ActionLink("Anasayfaya dön", "Index", "Home")</li>
       </ul>
</div>